{% extends 'base.html' %}
{% load static %}

{% block additionalCSS %}
<link rel="newest stylesheet" href="{% static 'css/acc_settings.css' %}">
{% endblock additionalCSS %}

{% block content %}

    {% if pass_changed %}
    <div class="popup-confirmation">
        <div>
            <p>Your password has been changed!</p>
            <a href="#" class="x">
                <i class="bi bi-x"></i>
            </a>
        </div>
    </div>
    {% endif %}
    
    <section class="breadcrumbs">
        <div class="container">
    
            <div class="d-flex justify-content-between align-items-center">
                <h2>Account Settings</h2>
            </div>
    
        </div>
    </section>
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
    
            <div class="row gy-4">
    
                <div class="col-lg-8">
                    <div class="portfolio-info">
                        <div class="personal-header">
                            <h3>Personal Information</h3>
                            <a href="" id="edit">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        </div>
                        <div class="row personal-info">
                            <div class="row">
                                <div class="col-md-3">
                                    <b>Name</b>
                                </div>
                                <div class="col-md-9">
                                    {{ user.firstname }} {{ user.lastname }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <b>Email</b>
                                </div>
                                <div class="col-md-9">
                                    {{ user.email }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <b>Relationship Status</b>
                                </div>
                                <div class="col-md-9">
                                    {% for status, desc in statuses %}
                                        {% if user.status == status %}
                                            {{ desc }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <b>Username</b>
                                </div>
                                <div class="col-md-9">
                                    {{ user.username }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <b>Password</b>
                                </div>
                                <div class="col-md-9">
                                    <a href="{% url 'change_pass' %}" style="padding: 0;">Change Password</a>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <b>Subscribed</b>
                                </div>
                                <div class="col-md-9">
                                    Subscribed
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <b>Author</b>
                                </div>
                                <div class="col-md-9">
                                    Author
                                </div>
                            </div>
                        </div>


                        <div class="row edit-personal-info">
                            <form action="{% url 'account' %}" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-3">
                                        <b>Name</b>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="firstname" class="form-control" value="{{ user.firstname }}">
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" name="lastname" class="form-control" value="{{ user.lastname }}">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        <b>Email</b>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="email" name="email" id="email" class="form-control" value="{{ user.email }}">
                                        <span id="email-error-msg" class="error-msg mt-3">This email is already taken. Please choose a different one</span>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        <b>Relationship Status</b>
                                    </div>
                                    <div class="col-md-9">
                                        <select class="form-select" id="status" name="status">
                                            {% for option, desc in options %}
                                            <option value="{{ option }}" {% if option == user.status %}selected{% endif %}>{{ desc }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        <b>Username</b>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="username" id="username" class="form-control" value="{{ user.username }}">
                                        <span id="username-error-msg" class="error-msg mt-3">This username is already taken. Please choose a different one</span>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        <b>Password</b>
                                    </div>
                                    <div class="col-md-9">
                                        <a href="{% url 'change_pass' %}" style="padding: 0;">Change Password</a>
                                    </div>
                                </div>
                                {% comment %} <div class="row mt-3">
                                    <div class="col-md-3">
                                        <b>Subscribed</b>
                                    </div>
                                    <div class="col-md-9">
                                        Subscribed
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        <b>Author</b>
                                    </div>
                                    <div class="col-md-9">
                                        Author
                                    </div>
                                </div> {% endcomment %}
                                <div class="mt-5 text-center"><button id="submit" type="submit">Save</button></div>
                            </form>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                        <li><strong>Category</strong>: Web design</li>
                        <li><strong>Client</strong>: ASU Company</li>
                        <li><strong>Project date</strong>: 01 March, 2020</li>
                        <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>This is an example of portfolio detail</h2>
                        <p>
                        Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                        </p>
                    </div>
                </div>
    
            </div>
  
        </div>
    </section>

{% endblock content %}

{% block additionalJS %}
<script>

    $(function() {
        let usernames = {{ usernames | safe }};
        let emails = {{ emails | safe }};
        let user_email = "{{ user_email }}";
        let user_username = "{{ user_username }}";
        let emailError = false;
        let usernameError = false;

        setInterval(function() {
            $('.popup-confirmation').fadeOut('slow', function() {
                $('.popup-confirmation').css('display', 'none');
            });
        }, 3000);

        $('.x').on('click', function() {
            $('.popup-confirmation').css('display', 'none');
        });
        
        $('#edit').on('click', function() {
            $('.personal-info').css('display', 'none');
            $('.edit-personal-info').css('display', 'block');
            $(this).hide();
            return false;
        });

        $('#email').on('keyup', function() {
            emails.every(email => {
                if (email === $('#email').val() && email !== user_email) {
                    $('#submit').prop('disabled', true).addClass('disabled-btn');
                    $('#email-error-msg').show();
                    emailError = true;
                    return false;
                } else {
                    $('#email-error-msg').hide();
                    emailError = false;
                }
            });

            if (!emailError && !usernameError) {
                $('#submit').prop('disabled', false).removeClass('disabled-btn');
            }
        });

        $('#username').on('keyup', function() {
            usernames.every(username => {
                if (username === $('#username').val() && username !== user_username) {
                    $('#submit').prop('disabled', true).addClass('disabled-btn');
                    $('#username-error-msg').show();
                    usernameError = true;
                    return false;
                } else {
                    $('#username-error-msg').hide();
                    usernameError = false;
                }
            });
            /*
            for (let i = 0; i < usernames.length; i++) {
                console.log(usernames[i]);

                if ($(this).val() === usernames[i]) {
                    $('#submit').prop('disabled', true).addClass('disabled-btn');
                    $('#username-error-msg').show();
                    usernameError = true;
                    break;
                } else {
                    $('#username-error-msg').hide();
                    usernameError = false;
                }
            }*/

            if (!usernameError && !emailError) {
                $('#submit').prop('disabled', false).removeClass('disabled-btn');
            }
                
        })
    });
</script>
{% endblock additionalJS %}
