{% extends 'base.html' %}
{% load static %}

{% block additionalCSS %}
<link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock additionalCSS %}

{% block content %}

{% comment %} <h2 class="heading">{{ articleTitle }}</h2>
<div class="sep">&nbsp;</div>

<div class="author-container">
    <p class="author-name"><i>{{ authorName }}</i></p>
    <p class="date">{{ dateCreated }}</p>
</div>
<div class="article-content">
    {% for p in paragraph %}
    <p>{{ p }}</p>
    {% endfor %}
    <br><br>
# this will be a form to submit comments from other views
    <form action="post">
        <textarea placeholder="Comment"></textarea>
    </form>
</div> {% endcomment %}
<section id="services" class="services">
        <div class="container" data-aos="fade-up">
    
          <div class="section-title">
            <h2>Articles</h2>
            <p>Featured Articles</p>
          </div>
    
          <div class="row">
            {% for article in featured_articles %}
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <a href="{% url 'article' id=article.id %}" style="width: 100%">
                <div class="icon-box" style="width: 100%">
                  <h4 class="title" style="color: black;">{{ article.header }}</h4>
                  <p class="description" style="color: black">{{ article.subheader }}</p>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
    
        </div>
</section>

<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Articles</h2>
            <p>All Articles</p>
        </div>

        <div class="article-container">
          {% for article in articles %}
            <div class="article-item" data-aos="zoom-in" data-aos-delay="100">
                <a href="{% url 'article' id=article.id %}">
                    <div class="icon-box">
                        <h4 class="title" style="color: black;">{{ article.header }}</h4>
                        <p class="description" style="color: black;">{{ article.subheader }}</p>
                    </div>
                </a>
            </div>
          {% endfor %}
        </div>
    </div>
</section>
    
    
    



{% endblock content %}