{% extends 'base.html' %}
{% load static %}

{% block additionalCSS %}
<link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock additionalCSS %}

{% block content %}

{% comment %} <h2 class="heading">{{ articleTitle }}</h2>
<div class="sep">&nbsp;</div>

<div class="author-container">
    <p class="author-name"><i>{{ authorName }}</i></p>
    <p class="date">{{ dateCreated }}</p>
</div>
<div class="article-content">
    {% for p in paragraph %}
    <p>{{ p }}</p>
    {% endfor %}
    <br><br>
# this will be a form to submit comments from other views
    <form action="post">
        <textarea placeholder="Comment"></textarea>
    </form>
</div> {% endcomment %}

<section class="inner-page">
    <div class="container">
        <p>
            Example inner page template
        </p>
    </div>
</section>



{% endblock content %}